@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

body {
  display: relative;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  top: 10;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  margin: 30px;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

ul li .horizontalImage {
  width: 30vw;
  overflow: hidden;
  margin: 10px;
  transition: all 350ms;
  border-radius: 10px;
}

ul li .verticalImage {
  height: 30vw;
  overflow: hidden;
  margin: 10px;
  transition: all 350ms;
  border-radius: 10px;
}

ul li .squareImage {
  height: 30vw;
  overflow: hidden;
  margin: 10px;
  transition: all 350ms;
  border-radius: 10px;
}

li img:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4) ;

}

li img {
  border: 1px solid rgba(165, 165, 165, 0.241);
  overflow: hidden;
  text-indent: 50%;
  cursor: pointer;
}

#fullSizeImageContainer {
  position:fixed;
  top: 0;
  /* width: 100vw;
  height: 100vh; */
}

#container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* margin: 10vw auto; */
  z-index:1;

  background-color: rgba(0, 0, 0, 0.488);
}

#innerContainer {
  position: flex;
  width: 80vw;
  height: 80vh;
  margin: 10vw auto;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.vertical {
  margin: auto;
  display: inline-block;
  height: 80vh;
}

.horizontal {
  display: inline-block;
  width: 80vw;
  margin: auto;
  /* margin-top: 5vw; */
  /* margin-left: 10vw; */
}

#closeButton{
  position: absolute;
  top: 2vh;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: white;
  right: 2vw;
  padding-right: 5px;
  padding-top: 1px;
}

#imageCaption{
  color: white;
  position:absolute;
  font-size: 18px;
  margin-left: 5vw;
  font-family: 'Montserrat', sans-serif;
}

#forwardButton {
  display: inline-block;
  position: absolute;
  right: 10vw;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 64px;
  background-color: none;
  color: red;
}

#reverseButton {
  display: inline-block;
  position: absolute;
  position: absolute;
  left: 10vw;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 64px;
  background-color: none;
  border: none;
  color: red;
}