@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

body {
  display: relative;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  top: 10;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  margin: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

ul li .horizontalImage {

  overflow: hidden;
  margin: 10px;
  transition: all 350ms;
  border-radius: 10px;
}

ul li .verticalImage {
  overflow: hidden;
  margin: 10px;
  transition: all 350ms;
  border-radius: 10px;
}

ul li .squareImage {
  overflow: hidden;
  margin: 10px;
  transition: all 350ms;
  border-radius: 10px;
}

li img:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

li img {
  border: 1px solid rgba(165, 165, 165, 0.241);
  overflow: hidden;
  text-indent: 50%;
  cursor: pointer;
}

#fullSizeImageContainer {
  position: fixed;
  top: 0;
}

#container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index:1;
  background-color: rgba(0, 0, 0, 0.488);
  align-content: center;
  justify-content: center;
}

#innerContainer {
  position: relative;
  width: 100vw;
  height: 90vh;
  align-content: center;
  justify-content: center;
  margin: 10vh auto;
}
/* Phone positioning and scaling */
@media screen and (orientation: landscape) and (max-width: 767px) {
  .vertical {
    margin: auto 33vw;
    height: 80vh;
  }
  
  .horizontal {
    height: 80vh;
    margin:  auto;
  } 

  #imageCaption{
    color: white;
    position:absolute;
    font-size: 18px;
    margin: 10px 22vw 0;
    font-family: 'Montserrat', sans-serif;
  }

  ul li .horizontalImage {
    width: 40vw;
  }

  ul li .verticalImage {
    width: 30vw;
  }

  ul li .squareImage {
    width: 40vw;
  }
}

@media screen and (orientation: portrait) and (max-width: 767px) {
  .vertical {
    width: 100vw;
    /* margin-left: 7vw; */
    /* margin: auto; */
  }
  
  .horizontal {
    width: 100vw;
    margin: auto;
  } 

  #imageCaption{
    color: white;
    position:absolute;
    font-size: 18px;
    margin: 5px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  ul li .horizontalImage {
    width: 40vw;
  }

  ul li .verticalImage {
    width: 30vw;
  }

  ul li .squareImage {
    width: 40vw;
  }
}

/* iPad scaling and positioning */
@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1024px){
  .vertical {
    margin: auto;
    height: 80vh;
  }
  
  .horizontal {
    width: 80vw;
    margin: auto;
  } 

  #imageCaption{
    color: white;
    position:absolute;
    font-size: 18px;
    margin: 10px 30vw 0;
    font-family: 'Montserrat', sans-serif;
  }

  ul li .horizontalImage {
    width: 30vw;
  }

  ul li .verticalImage {
    width: 20vw;
  }

  ul li .squareImage {
    width: 30vw;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px){
  .vertical {
    height: 80vh;
    margin-left: 7vw;
    /* margin: auto; */
  }
  
  .horizontal {
    width: 100vw;
    margin: auto;
  } 

  #imageCaption{
    color: white;
    position:absolute;
    font-size: 18px;
    margin: 5px 20vw;
    font-family: 'Montserrat', sans-serif;
  }

  ul li .horizontalImage {
    width: 30vw;
  }

  ul li .verticalImage {
    height: 20vw;
  }

  ul li .squareImage {
    width: 30vw;
  }
}

@media screen and (orientation: landscape) and (min-width: 1025px){
  .vertical {
    margin: auto 25vw;
    height: 80vh;
  }
  
  .horizontal {
    width: 80vw;
    margin: 1vh 10vw 0;
  } 

  #imageCaption{
    color: white;
    position:absolute;
    font-size: 18px;
    margin: 10px 30vw 0;
    font-family: 'Montserrat', sans-serif;
  }

  ul li .horizontalImage {
    width: 20vw;
  }

  ul li .verticalImage {
    width: 15vw;
  }

  ul li .squareImage {
    width: 20vw;
  }
}

@media screen and (orientation: portrait) and (min-width: 7025px){
  .vertical {
    margin: auto;
    height: 80vh;
    margin: auto 15vw;
  }
  
  .horizontal {
    width: 100vw;
    margin: 15vh auto 0;
  } 

  #imageCaption{
    color: white;
    position:absolute;
    font-size: 18px;
    margin: 5px 20vw;
    font-family: 'Montserrat', sans-serif;
  }

  ul li .horizontalImage {
    width: 20vw;
  }

  ul li .verticalImage {
    height: 15vw;
  }

  ul li .squareImage {
    width: 20vw;
  }
}

#closeButton{
  position: absolute;
  top: 2vh;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: white;
  right: 2vw;
  padding-right: 5px;
  padding-top: 1px;
}



#forwardButton {
  display: inline-block;
  position: absolute;
  z-index: 1.0;
  right: 10px;
  bottom: 2vh;
  width: 50px;
  height: 50px;
  font-size: 64px;
  background-color: none;
  color: white;
  cursor: pointer;
}

#reverseButton {
  display: inline-block;
  position: absolute;
  z-index: 1.0;
  left: 10px;
  bottom: 2vh;
  width: 50px;
  height: 50px;
  font-size: 64px;
  background-color: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {

}